.main{
    padding: 15vw 20vw
}


input

{
    padding: 0 2vw;
    height:40px;
    background-color: #dDdd;
    border-radius: 10px;
    width:100%;
    border: blue 1px solid;
    color: rgb(53, 51, 51);
    font-weight:200;
   
}
.persons{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.people{
display: flex;
flex-direction: column;
align-items: center;
}
.people img{
    height: 100px;
    width:100px;
    object-fit: cover;
    border-radius: 50%;
}